encoding: utf-8

plugins:
  - jekyll-regex-replace
  - jekyll-loading-lazy
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed

# SEO相关信息
title: Ited Blog
description: You are good enough.
keywords: Ited, blog, tech, programming, coding, life, 博客, 技术, 编程, 编码, 生活, minc_nice_100, 土拨鼠
author: minc_nice_100
footerText: 'Copr. 2022 Ited Blog'
url: https://www.itedev.com
logo: /static/img/logo.jpg
lang: zh-CN
# 这些不要动
permalink: /posts/:year/:month/:day/:title.html
kramdown:
  auto_ids: true
  input: GFM
  syntax_highlighter: rouge
exclude: ['CNAME', 'README.md', 'LICENSE', '_site', 'dist', 'Gemfile', 'Gemfile.lock', 'blog.sh']

# 域名配置
# baseurl配置,如果网站部署在根目录下的其他目录中，请设置为 /目录名
domainUrl: 'https://www.itedev.com'
baseurl: ''

# 吐个槽地址，会在chat页面中重定向到该地址
tucaoUrl: https://github.com/minc-nice-100/minc-nice-100/issues/new

# 菜单
# 必填字段 title: '文本' url: '链接'
# 可选字段 target: '_blank' 新页面打开 
menu:
  - title: Search
    url: /pages/search.html
  - title: Categories
    url: /pages/categories.html
  - title: Links
    url: /pages/links.html
  # - title: Chat
  #   url: /pages/chat.html
  #   target: '_blank'
  - title: About
    url: /pages/about.html

# 点击页面文字冒出特效,不需要请设置为false
extClickEffect: false

# Google Adsense,不需要请设置为false
# _includes/ext-adsense.html 里面修改为自己的配置
extAdsense: false

# 数学公式支持，比较影响加载速度,不需要请设置为false
extMath: true

# 显示访问量统计，由不蒜子提供服务
extCount: false

# 友情链接
links:
  - title: Makabaka1880的博客
    url: https://makabaka1880.xyz
    avatar: https://bucket.itedev.com/blog/20260103171231537.png
    description: 与我共事的极强后端
  - title: 唤青映记
    url: https://www.eees.blog
    avatar: https://bucket.itedev.com/blog/20260103171330976.png
    description: 与我共事的极强前端
  - title: 晚夜的个人博客
    url: https://www.iczrx.cn
    avatar: https://bucket.itedev.com/blog/20260103171439945.png
    description: 做好量变的准备，促进事物的质变。
  - title: Garden of Outlier
    url: https://chlo.is
    avatar: https://bucket.itedev.com/blog/20260103171537051.png
    description: An Element-chan who writes.
  - title: liuzhen932 的小窝
    url: https://blog.liuzhen932.top
    avatar: https://bucket.itedev.com/blog/20260103171629163.png
    description: 只要愿意去做，人无所不通
  - title: Exyone Blog
    url: https://www.exyone.me
    avatar: https://bucket.itedev.com/blog/20260103171737360.webp
    description: 不会前端的.NET程序员不是好Ruby程序员


incremental: true
future: false
