encoding: utf-8

plugins:
  - jekyll-regex-replace

# SEO相关信息
title: Ited Blog
description: You are good enough.
keywords: Ited, blog, tech, programming, coding, life, 博客, 技术, 编程, 编码, 生活, minc_nice_100, 土拨鼠
author: minc_nice_100
footerText: 'Copr. 2022 Ited Blog'

# 这些不要动
permalink: /posts/:year/:month/:day/:title.html
kramdown:
  auto_ids: true
  input: GFM
  syntax_highlighter: rouge
exclude: ['CNAME', 'README.md', 'LICENSE', '_site', 'dist', 'Gemfile', 'Gemfile.lock', 'blog.sh']

# 域名配置
# baseurl配置,如果网站部署在根目录下的其他目录中，请设置为 /目录名
domainUrl: 'https://www.itedev.com'
baseurl: ''

# 吐个槽地址，会在chat页面中重定向到该地址
tucaoUrl: https://github.com/minc-nice-100/minc-nice-100/issues/new

# 菜单
# 必填字段 title: '文本' url: '链接'
# 可选字段 target: '_blank' 新页面打开 
menu:
  - title: Search
    url: /pages/search.html
  - title: Categories
    url: /pages/categories.html
  - title: Links
    url: /pages/links.html
  # - title: Chat
  #   url: /pages/chat.html
  #   target: '_blank'
  - title: About
    url: /pages/about.html

# 点击页面文字冒出特效,不需要请设置为false
extClickEffect: false

# Google Adsense,不需要请设置为false
# _includes/ext-adsense.html 里面修改为自己的配置
extAdsense: false

# 数学公式支持，比较影响加载速度,不需要请设置为false
extMath: true

# 显示访问量统计，由不蒜子提供服务
extCount: false

# 友情链接
links:
  - title: Makabaka1880的博客
    url: https://makabaka1880.xyz
  - title: 唤青映记
    url: https://www.eees.blog
  - title: 晚夜的个人博客
    url: https://www.iczrx.cn
  - title: Garden of Outlier
    url: https://chlo.is
  - title: liuzhen932 的小窝
    url: https://blog.liuzhen932.top

