<footer class="footer">
  <span>{{ site.footerText }}</span>
  <a href="{{ site.baseurl }}/static/xml/rss.xml">RSS</a>

  {%- if site.extCount %}
    <span>总访问量</span>
    <span id="busuanzi_value_site_pv"></span>
  {% endif %}
  <p style="font-size:0.8rem; opacity:0.7;">
    Built with ❤ • Commit {{ site.commit_short }}
  </p>
  <div class="footer-btn theme-toggler hide">
    <i class="svg-icon icon-theme-light"></i>
  </div>
  <div class="footer-btn to-top">
    <i class="svg-icon icon-arrow-top"></i>
  </div>
</footer>
