<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html -%}
<body>
{% include header.html -%}
<main class="page page-post">
  <article>
    <header>
      <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
      {% if page.date %}
      <div class="subtitle">
        <span>Published by {{site.author}} on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y.%m.%d" }}</time></span>
        {%- if site.extCount %}
          <span>Page views</span>
          <span id="busuanzi_value_page_pv"></span>
        {% endif %}
      </div>
      {% endif %}
    </header>
    
    <div class="post">
      {{ content }}
    </div>
    
    <footer>
      {% if page.tags %}
      <p>标签：{% for tag in page.tags %}{{ tag }}{% endfor %}</p>
      {% endif %}
    </footer>
  </article>
  
{% if site.giscus.enabled != false %}
    <div class="giscus" id="giscus">
      <div class="giscus-loading" id="giscus-loading" style="text-align: center; color: #666">
      Giscus loading...
    </div>
    </div>
    <script src="https://giscus.app/client.js"
          data-repo="minc-nice-100/ItedBlog"
          data-repo-id="R_kgDOO0JCdQ"
          data-category="Comments"
          data-category-id="DIC_kwDOO0JCdc4Cz9Wy"
          data-mapping="og:title"
          data-strict="1"
          data-reactions-enabled="1"
          data-emit-metadata="1"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>
  {% endif %}
  {% if site.extAdsense -%}
  <div class="adsense" style="overflow: hidden;">
    {% include ext-adsense.html -%}
  </div>
  {% endif %}
</main>
{% include footer.html -%}
{% include script.html -%}
</body>
</html>